fastapi
haversine
numpy
pydantic
pymongo
python-dotenv
supabase
uvicorn
python-multipart
face-recognition
opencv-python 
https://github.com/nmslib/hnswlib/releases/download/v0.7.0/hnswlib-0.7.0-cp311-cp311-linux_x86_64.whl
https://github.com/z-mahmud22/Dlib_Wheel_Python3.11/raw/main/dlib-19.24.1-cp311-cp311-linux_x86_64.whl